[build]
  command = "npm run build"
  publish = "out"
  ignore = "bridgeup/**,refreshed_wizzmo/**,mobile/**,bridgeup_clean/**"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200